@page "/"


<style>
  h1 {
    background-color: #ccc;
  }

</style>

<div class="d-flex">
  <div class="flex-grow-1 px-1 py-1">
    <textarea class="form-control" @bind="_text" @bind:event="oninput" />
  </div>
  <div class="px-1 py-1">
    <button type="button" class="btn btn-secondary" @onclick="() => Load()">参照</button>
  </div>
</div>
<div>
  @if (_tokens == null)
  {
      <p><em>Loading...</em></p>
  }
  else
  {
    @foreach(var t in _tokens)
    {
      @((MarkupString)t.ToString())
    }
  }
</div>
